[Desktop Entry]
Type=Application
Name=Google Fotos login
Exec=/usr/bin/google-chrome --user-data-dir=/config --no-sandbox --disable-setuid-sandbox --disable-gpu --disable-nacl --disable-dev-shm-usage https://photos.google.com
Terminal=false
X-GNOME-Autostart-enabled=true
